.HeaderComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 6px 60px;
}

.HeaderComponent .searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 620px;
  width: 100vw;
  height: 40px;
  border-radius: 6px;
  
  background-color: #F5F7F8;
}

.HeaderComponent .searchBar input {
  width: 100%;
  padding: 8px 12px;
  border: none;

  font-size: .9rem;
  font-weight: 700;
  color: #333333;

  outline: none;
  background-color: #F5F7F8;
}

.HeaderComponent .searchBar button {
  width: 50px;
  height: 100%;
  
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;

  background-color: #F5F7F8;
  color: #413B89;
  cursor: pointer;
}


.HeaderComponent .searchBar button #searchIcon {
  margin: auto;
  width: 22px;
  height: 22px;
}

.HeaderComponent .searchBar button:hover {
  background-color: #e5e7e7;
}

.HeaderComponent .qrCode {
  width: 70px;
  margin-top: 8px;
  
  cursor: pointer;
  transition: all 60ms;
}

.HeaderComponent .qrCode:hover {
  padding: 2px;
  margin: 6px -2px -2px -2px;
  
  border-radius: 8px;
  background-color: #413B89;
}
