.container {
  display: flex;
  border-bottom: 1px solid var(--gray-50);

  width: 100vw;

  .content {
    display: flex;
    justify-content: space-between;

    max-width: 1120px;
    width: 100vw;
    min-height: 40px;
    padding: 2vh 0;
    margin: 0 auto;

    a > img {
      cursor: pointer;
      max-width: 100px;
      width: 25vw;
    }

    .inputContainer {
      display: flex;

      width: 60vw;
      max-width: 740px;

      input {
        flex: 1;
        padding-left: 0.5rem;
        margin: 0 0.5rem;

        border: 1px solid var(--gray-300);
        border-radius: 0px;
        outline: none;

        &:focus {
          border: 1px solid var(--gray-400);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 60px;
        min-width: 30px;
        width: 20%;

        background: var(--blue-600);
        border: none;
        border-radius: 0px;

        border: 1px solid var(--blue-550);

        transition: background 0.3s;
        &:hover {
          background: var(--blue-550);
        }
      }
    }
  }
}
